/* Стиль курсора для елементів бокового меню */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Poppins:wght@600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
}

/* Стиль курсора для елементів бокового меню */
li.nav-item {
   cursor: pointer;
}

/* Додаткові стилі для малих екранів */
@media only screen {
   /* Меню сайту */
   #menu {
      color: #ffffff;
      border-right: 0px;
   }
}

/* Додаткові стилі для середніх та великих екранів */
@media only screen and (min-width : 576px) {
   /* Меню сайту */
   #menu {
      border-right: 25px solid #ffffff;
      background: linear-gradient(#101155e3,#75a6de);
   }
   /* Основний блок сайту */
   #context {
      height: 100vh;
      min-height: 100vh;
      overflow-y: auto;
      background-color: rgb(222, 224, 233);
      
   }
}

/* Стилі картин */
.painting {
   border: 3px solid rgb(226, 223, 223);
   transition: border .3s;
   cursor: pointer;
   
}

/* Стилі при наведенні на картину */
.painting:hover {
   border: 3px solid #31124e;
   transition: border .3s;
}