/* Налаштування тегу <body> */
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
  }
  
  /* Звичайний блок */
  .block_n {
    width: auto;
    padding: 3px;
    display: block;
    margin: 2px 0 0 2px;
    text-align: center;
    border-style: solid;
    border-color: rgba(117, 152, 163, 0.582);
    border-width: 2px;
    box-sizing: inherit;
    background-color: rgba(188, 229, 241, 0.514);
  }
  
  /* Кінцевий блок */
  .block_e {
    width: auto;
    padding: 3px;
    display: block;
    margin: 2px 2px 0;
    text-align: center;
    border-style: solid;
    border-color: rgb(199, 152, 81);
    border-width:1px;
    box-sizing: inherit;
    background-color: rgba(236, 191, 122, 0.712);
  }
  
  input {
    margin: 5px 0 0 5px;
  }
  
  button,
  input[type="button"] {
    margin: 5px 2px;
    padding: 2px 5px;
  }
  
  hr {
    margin: 3px;
    padding: 0;
  }
  
  .grid_2_column {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .grid_3_column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  ul,
  ol {
    text-align: left;
  }
  
  #grid_1 {
    grid-template-columns: 1fr 2fr 1fr;
  }
  
  #div_1 {
    border-color: rgba(182, 163, 185, 0.438);
    background-color: rgba(198, 139, 219, 0.274);
  }
  
  #div_2,
  #div_6 {
    color: white;
    border-color: rgba(253, 251, 251, 0.849);
    background-color: rgba(51, 51, 51, 0.185);
  }
  
  #div_3 {
    border-color: white;
    background-color: rgba(0, 0, 255, 0.062);
  }
  
  #div_4 {
    border-color: white;
    background-color: rgba(255, 0, 255, 0.116);
  }
  
  #div_4 form {
    text-align: left;
  }
  
  #div_5 {
    border-color: white;
    background-color: #FF05;
  }
  
  #div_6 {
    margin-bottom: 5px;
  }
  
  #div_6 a,
  #div_6 a:visited {
    color: rgb(36, 34, 34);
    font-size: 1.3em;
    text-decoration: none;
  }
  
  #animation_block {
    /* Тип відображення: flex */
    display: flex;
    /* Напрямок відображення: стовбець */
    flex-flow: column;
    /* Висота блоку: 100% висоти батьківського елемента */
    height: 100%;
  }
  
  #animation_buttons {
    /* Розмір елемента вираховується із його вмісту */
    flex-grow: 0;
  }
  
  #animation_context {
    /* Елемент заповнює весь доступний простір */
    flex-grow: 1;
    /* Тип відображення: flex */
    display: flex;
    /* Вертикальне вирівнювання: по центру */
    align-items: center;
    /* Горизонтальне вирівнювання: по центру */
    justify-content: center;
    /* Колір фону */
    background-color: rgba(202, 62, 148, 0.322);
    /* Колір рамки */
    border-color: white;
  }
  
  #img {
    position: relative;
  }
  
  #flex_block {
    /* Тип відображення: flex */
    display: flex;
    /* Вирівнювання вздовж головної осі */
    align-items: center;
    /* Переносити елементи вниз, якщл вони не поміщаються у блоці */
    flex-wrap: wrap;
    /* Напрямок розміщення елементів (головна вісь) */
    flex-direction: row;
    /* Відступи між елементами */
    justify-content: space-around;
  }
  
  #flex_block img {
    display: block;
    width: 110px;
  }
  
  #flex_block img[alt="im_2"],
  #flex_block img[alt="im_4"],
  #flex_block img[alt="im_6"],
  #flex_block img[alt="im_8"] {
    display: block;
    width: 80px;
  }
  
  #title {
    color: black;
    transition: border-color 2s,
      background-color 2s;
  }
  
  #title_text {
    display: inline;
    cursor: pointer;
  }